.article {
  blockquote {
    @apply font-normal border-l-2 border-gray-200 mt-[1.5em] mb-[1.5em] pl-4 text-gray-500 dark:border-[#cec6c6] dark:text-slate-300/70;

    quotes: '201C' '201D' '2018' '2019';
    margin-left: 0;
    font-size: 0.88rem !important;
  }

  blockquote p:first-of-type::before {
    content: '';
  }

  blockquote p:last-of-type::after {
    content: '';
  }
}
