.article {
  h1,
  h2,
  h3,
  h4 {
    a {
      @apply relative;

      &::after {
        @apply h-5 opacity-0 pl-2 w-5 absolute;
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23111827"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
      }

      &:hover {
        &::after {
          @apply opacity-100;
        }
      }

      &:before {
        @apply w-full top-0 left-0 absolute;
        content: '';
        height: calc(100% + 4px);
      }

      &:hover:before {
        @apply d-prose-a-headline-border;
      }
    }
  }

  @screen >lg {
    h1 {
      margin-top: 0 !important;
    }
  }
}

.dark {
  .article {
    h1,
    h2,
    h3,
    h4 {
      a {
        &:hover {
          &::after {
            content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
          }
        }
      }
    }
  }
}
