.article {
  h1,
  h2,
  h3,
  h4 {
    a {
      @apply relative;

      code {
        font-size: inherit;
        position: relative;
      }

      &:hover {
        code {
          border-color: rgb(113, 113, 122);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 4px);
      }
    }
  }

  h1 {
    font-size: 2rem;
    @apply font-semibold leading-snug mb-[0.5em] tracking-tight <xl:mt-[0.5em];
  }

  h1 + p {
    @apply d-heading-description;
  }

  h2 {
    font-size: 1.5rem;
    @apply font-semibold mt-[0.85em] leading-snug mb-[0.5em] tracking-tight;
  }

  h2 + * {
    @apply mt-0;
  }

  h3 {
    font-size: 1.25rem;
    @apply font-semibold mt-[1.25em] leading-snug mb-[0.5em] tracking-tight;
  }

  h3 + * {
    @apply mt-0;
  }

  h4 {
    font-size: 1.125rem;
    @apply font-semibold mt-[1.25em] leading-snug mb-[0.5em] tracking-tight;
  }

  h4 + * {
    @apply mt-0;
  }

  hr {
    @apply my-8 d-prose-hr-border;
  }

  hr + * {
    @apply mt-0;
  }
}

.dark {
  .article {
    h1,
    h2,
    h3,
    h4 {
      a {
        &:hover {
          code {
            border-color: rgb(228, 228, 231);
          }
        }
      }
    }
  }
}
