.article {
  li {
    @apply my-[0.25em] pl-4 relative break-all;

    p {
      @apply my-[0.75em];
    }
  }

  ul > li {
    &::before {
      @apply rounded-full bg-gray-500 h-1.5 top-[0.5em] left-0 w-1.5 absolute dark:bg-cloud-light;
      content: '';
    }
  }

  ol > li {
    padding-left: 0;
  }

  li > ol > li {
    margin-left: 1rem;
  }

  .nuxt-content-highlight {
    @apply m-0;
  }
}
