html:root {
  --header-height: 56px;
  --sidebar-width: 17rem;
  --tocs-width: 230px;
  --tocs-width-lg: calc(100vw - var(--tocs-width) - 50px);
  --tocs-height-xl: calc(100vh - var(--header-height) - 8px);
  --max-content-width: 1280px;
  --sidebar-ml-xl: calc((100vw - var(--max-content-width)) / 2);
  --tocs-ml-xl: calc(
    var(--sidebar-ml-xl) + var(--max-content-width) - var(--tocs-width)
  );
  --docs-scroll-margin-block: calc(var(--header-height) + 4rem);
  --blogpost-scroll-margin-block: calc(var(--header-height));
}

@screen sm {
  /** scroll bar **/
  .d-scrollbar {
    --scrollbar-track: initial;
    --scrollbar-thumb: #e4e4e7;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    overflow: overlay;
    scrollbar-width: thin;
  }

  .d-scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  .d-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 0.25rem;
  }

  .d-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.dark {
  @screen sm {
    .d-scrollbar {
      --scrollbar-thumb: #255461;
    }
  }
}

.swiper-link {
  border: none !important;
}

.swiper-link img {
  border-radius: 0.25rem;
}

.sp-button {
  color: grey !important;
}

.sp-tab-button {
  display: flex !important;
}
