@import './prism/index.css';

@import './skeleton/skeleton-elements.css';

@import 'prose/a.css';
@import 'prose/blockquote.css';
@import 'prose/em.css';
@import 'prose/h.css';
@import 'prose/img.css';
@import 'prose/li.css';
@import 'prose/ol.css';
@import 'prose/paragraph.css';
@import 'prose/strong.css';
@import 'prose/table.css';
@import 'prose/ul.css';

.article-scroll-box {
  p,
  div,
  li,
  strong,
  span {
    & > a {
      @apply border-transparent border-1 font-600 no-underline break-all whitespace-pre-wrap hover: underline;
      color: var(--primary-500);
    }
  }

  ul,
  ol {
    @apply pl-6;
    list-style-type: revert;

    li {
      padding-left: initial;

      &::before {
        display: none;
      }
    }
  }
}

.code-copy-block {
  @apply bg-transparent rounded-lg px-2 pt-2 pb-1;

  height: auto !important;
  line-height: initial !important;
  width: auto !important;
  min-width: unset !important;

  &::before {
    @apply bg-center bg-no-repeat h-[22px] w-[22px] inline-block relative;

    content: '' !important;
    background-image: url(./imgs/cc-copy.png);
    background-size: 18px;
  }

  &.code-copied {
    &::before {
      background-image: url(./imgs/success.png);
    }
  }
}

.dark {
  .code-copy-block {
    background-color: rgba(0, 53, 67, 1);
    &::before {
      background-image: url(./imgs/cc-copy-white.png);
    }

    &.code-copied {
      &::before {
        background-image: url(./imgs/success-white.png);
      }
    }
  }

  .remark-highlight .filename {
    color: white !important;
  }
}
