:root {
  --docsearch-container-background: rgba(173, 181, 189, 0.7);
  --docsearch-modal-background: #fff;
  --docsearch-modal-shadow: none;
  --docsearch-footer-background: transparent;
  --docsearch-footer-shadow: rgba(125, 125, 125, 0.1);
  --docsearch-hit-color: #1f2937;
  --docsearch-hit-background: rgba(125, 125, 125, 0.1);
  --docsearch-hit-shadow: none;
  --docsearch-hit-height: 3.5rem;
  --docsearch-primary-color: #3ea6e7;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-height: 3.5rem;
  --docsearch-text-color: #4b5563;
  --docsearch-muted-color: #9ca3af;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
}

html[data-theme='dark'],
html.dark {
  --docsearch-footer-background: #181818;
  --docsearch-container-background: rgba(12, 12, 12, 0.9);
  --docsearch-modal-background: #181818;
  --docsearch-modal-shadow: none;
  --docsearch-hit-color: #e5e7eb;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-text-color: #e5e7eb;
  --docsearch-muted-color: #9ca3af;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
}

.DocSearch-Button {
  @apply rounded-lg h-auto ml-0 py-2 px-3;
}

.DocSearch-Button-Placeholder {
  @apply font-normal pl-3 pr-2;
}

.DocSearch-Button-Keys {
  @apply justify-between;
}

.DocSearch-Button-Key {
  @apply border-1 border-$docsearch-muted-color h-5 m-0 pb-0 static top-0;
}

.DocSearch-Form,
.DocSearch-Hit a {
  @apply rounded-lg;
}

.DocSearch-Modal {
  @apply rounded-lg;
}

.DocSearch-Form {
  background-color: rgba(243, 244, 246, 1);
}

html.dark,
html[data-theme='dark'] {
  .DocSearch-Form {
    background-color: rgba(31, 31, 31, 1);
  }

  .DocSearch-Footer {
    @apply border-[#2d2d2d] shadow-none;
  }
}

.DocSearch-Footer {
  border-top-width: 1px;
}

.DocSearch-Search-Icon {
  @apply h-5 stroke-2 w-5;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}

.DocSearch-Input {
  @apply pl-4 text-base;
}

.DocSearch-StartScreen {
  @apply py-16;
}

.DocSearch-Button {
  @apply h-6 text-xs m-0;

  &:active,
  &:focus,
  &:hover {
    @apply opacity-70 shadow-none;
  }
}

.DocSearch-Button-Key {
  @apply h-4;
}

.DocSearch-Button-Placeholder {
  @apply pl-2 text-xs font-medium;
}

@screen <md {
  .DocSearch-Button {
    background: transparent !important;
  }
}
